/* CSS Document */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
*:focus{
	outline:none;
}
* {outline: none;}
a, a:active, a:visited, a:focus, a:hover { outline:none; text-decoration: none; display: block;}
img {  /* max-width: 100%; */ width: 100%; border: 0;}
sup { font-size:50%; }

a, input, button {
	-ms-touch-action: none !important;
}
				

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font-size:12px; 
	height:768px;	
	margin:0px; padding:0px; 
	width:1366px;
	overflow:hidden;
	position:relative;
	background-color: #000000;
}

div[data-page] { background:transparent; background-size: contain !important; width: 100%; height: 768px; display: none; position: relative; }
div[data-subpage] { display: none; position: relative; float: left; height: 100%; }

/*------------------- #subpageItems ---------------------------------- */

#subpageItems {

	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 14px 10px;
	padding-top: 15px;
	position: absolute;
	width: 50px;
	height: 625px;
	z-index:999;
	left:0;
	-webkit-box-shadow: inset 6px 6px 35px #efefef;
	-moz-box-shadow: inset 6px 6px 35px #efefef;
	box-shadow: inset 6px 6px 35px #efefef;
	background-color: #fefefe;
}
	#subpageItems #baseMenu { 
		
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		position: relative; 
		left: -295px;
		top: 280px;
		width: 640px;}

		#subpageItems #baseMenu a {
			padding: 0 10px;
			font-size: 18px;
			display: inline-block;
			line-height:50px;
			color:#7dcff5;

		}
		#subpageItems #baseMenu a.activeLink { 
			position:relative; left:10px;
			
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: 15px;
			color: #2555a6;
		}
	
			
ul { margin:0px; padding:0px; }
	ul li { list-style:none; }
	
/*------------------- Main Page ---------------------------------- */

.main { display:inline-block; width:100%; }

.scroll { 
	position: absolute;
	height: 300px;
	left: 150px;
	width: 725px;
	top: 200px;
}

.urunlogo { 
	background-size: 101%;
	width: 213px;
	height: 475px;
	position: absolute;
	top: 136px;
	left: 164px;
	z-index:2;
}

#app {
	width:1366px;
	height:768px;
	overflow:hidden;
	position:relative;
	background-image: url("../media/images/cover/cover.png");
	background-size:contain;
}
	#app .container { display:inline-block; height: 100%; width:1366px; }
	
.logo{
	width: 270px;
	height: 94px;
	position: absolute;
	left: 999px;
	top: 98px;
}

.logo.home{
	width: 329px;
	height: 112px;
	left: 171px;
//	top: 165px;
	top: -121px;
}
.leftMiddle1{
	width: 440px;
	height: 157px;
	position: absolute;
	left: 120px;
//	top: 373px;
	top: -157px;
	z-index: 1;
}
.leftBottom1{
	width: 460px;
	height: 219px;
	position: absolute;
	left: 110px;
	top: 439px;
	z-index: 1;
	opacity: 0;
}
	.leftBottom1 .square{
		width: 219px;
		height: 219px;
		position: absolute;
		background-image: url("../media/images/cover/square-fill.png");
		background-size: contain;
		cursor: pointer;
	}

	.leftBottom1 .square.child{left: 240px ;}
		.square .silhouette {
			position: absolute;
			overflow: hidden;
			bottom: 46px ;
		}

		.square .title {
			position: absolute;
			overflow: hidden;
			bottom: 11px ;
			opacity: 0;
		}
		.square.man .silhouette{
			width: 43px ;
			height: 158px ;
			left: 88px ;
		}
			.square.man .silhouette img {position: relative; top: 158px ;}
		.square.man .title{
			width: 107px ;
			height: 32px ;

			left: 53px ;
		}
		.square.child .silhouette{
			width: 33px ;
			height: 114px ;
			left: 93px ;
		}
			.square.child .silhouette img {position: relative; top: 114px ;}
		.square.child .title{
			width: 97px ;
			height: 27px ;
			left: 61px ;
		}

.secondBg {
	position: absolute;
	width: 735px ;
	height: 607px ;
	left: 553px ;
	top: 81px ;
}
.coverWarrior {
	position: absolute;
	width: 472px ;
	height: 531px ;
	left: 580px ;
	top: 157px ;
}
	.coverWarrior img, .secondBg img{
		position: absolute;
		width: 0;
		bottom: 0;
		right: 0;
	}
	
.leftmenu {
	position: absolute;
	width: 218px ;
	height: 561px ;
	left: 94px ;
	top: 0;
	background-image: url("../media/images/main/menu-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 5;
}
.leftmenu.eriskin.main, .leftmenu.cocuk.main{top: -569px ;}
	.leftmenu a {display: block; position: absolute;}
	.leftmenu .home {
		width: 36px ;
		height: 36px ;
		background-image: url("../media/images/main/menu-home.png");
		top: 196px ;
		left: 93px ;
	}
	.leftmenu .arrow-back {
		width: 35px ;
		height: 28px ;
		background-image: url("../media/images/main/menu-back.fw.png");
		top: 201px ;
		left: 93px ;
	}
	.leftmenu .usye {
		width: 153px ;
		height: 54px ;
		background-image: url("../media/images/main/menu-usye.png");
		top: 302px ;
		left: 33px ;
	}
	.leftmenu .usye.activeLink {
		background-position-y: -54px; ;
	}
	.leftmenu .asye {
		width: 152px ;
		height: 53px ;
		background-image: url("../media/images/main/menu-asye.png");
		top: 383px ;
		left: 35px ;
	}
	.leftmenu .asye.activeLink {
		background-position-y: -53px ;
	}
	.leftmenu .iye {
		width: 117px ;
		height: 54px ;
		background-image: url("../media/images/main/menu-iye.png");
		top: 457px ;
		left: 52px ;
	}
	.leftmenu .iye.activeLink {
		background-position-y: -54px ;
	}
	.leftmenu .eriskin {
		width: 154px ;
		height: 50px ;
		background-image: url("../media/images/main/menu-eriskin.fw.png");
		top: 306px ;
		left: 34px ;
	}
	.leftmenu .cocuk {
		width: 137px ;
		height: 48px ;
		background-image: url("../media/images/main/menu-cocuk.fw.png");
		top: 413px ;
		left: 43px ;
	}
	.leftmenu .menu-line {
		position: absolute;
		width: 171px ;
		height: 4px ;
		left: 22px ;
	}
		.leftmenu .menu-line.firstOfSecond {top:363px ;}
		.leftmenu .menu-line.secondOfSecond {top:441px ;}
		
		.leftmenu .menu-line.firstOfSecondFloor {top:377px ;}
		.leftmenu .menu-line.secondOfSecondFloor {top:477px ;}

	.bgEriskinMain, .bgCocukMain {
		position: absolute;
		width: 811px ;
		height: 608px ;
		left: 475px ;
		top: 80px ;
	}
	.eriskinBody {
		position: absolute;
		width: 275px ;
		height: 659px ;
		left: 673px ;
		top: 29px ;
	}
		.eriskinBody img, .cocukBody img {
			width: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	.balloon {
		position: absolute;
		cursor: pointer;
	//	opacity: 0;
	}
		.balloon img {
			position: absolute;
			bottom: 0;
			margin: auto;
		//	width: 0;
			opacity: 0;
		}
	.eriskinBodyTopInfo {
		width: 195px ;
		height: 162px ;
		left: 815px ;
		top: 147px ;
	}
		.eriskinBodyTopInfo img {
			top: 0;
		}
	.eriskinBodyMiddleInfo {
		width: 195px ;
		height: 162px ;
		left: 588px ;
		top: 344px ;
	}
		.eriskinBodyMiddleInfo img {
			top: 0;
			right: 0;
		}
	.eriskinBodyBottomInfo {
		width: 175px ;
		height: 162px ;
		left: 816px ;
		top: 477px ;
	}
		.eriskinBodyBottomInfo img {
		}
	.eriskinMainData {
		position: absolute;
		width: 470px ;
		height: 454px ;
		left: 228px ;
		top: 95px ;
		opacity: 0;
	}

	.pageTabs {
		position: absolute;
		left: 78px ;
		top: 715px ;
		width: 1005px ;
		height: 46px ;
	}
		.pageTabs.active {
			height: 36px ;
		}
		.pageTabs img {z-index: -5;}
	.bottomMenu {
		position: absolute;
		height: 35px ;
		width: 50px;
		top: 0 ;
		font-size: 999px;
	}
		.dtFormuBM {width: 140px ;}
		.hastaUyumuBM {
			width: 195px ;
			left: 170px ;
		}
		.guvenlilikBM {
			width: 155px;
			left: 395px;
		}
		.kubBM {
			width: 60px;
			left: 585px;
		}
		.pozolojiBM {
			width: 140px;
			left: 675px;
		}
		.videoBM {
			width: 90px;
			left: 840px;
		}
		.pageTabs .ref {
			background-image: url("../media/images/main/menu-ref-icon.fw.png");
			background-repeat: no-repeat;
			background-color: rgba(0, 0, 0, 0);
			background-size: contain;
			display: inline-block;
			width: 68px ;
			height: 46px ;
			position: absolute;
			left: 938px ;
		}

	.bgEriskinUsye {
		position: absolute;
		width: 877px ;
		height: 475px ;
		left: 408px ;
		top: 213px ;
	}
	.eriskinUsyeData, .eriskinAsyeData, .eriskinIyeData,
	.cocukUsyeData, .cocukAsyeData, .cocukIyeData {
		position: absolute;
		width: 462px ;
		height: 349px ;
		left: 813px ;
		top: 282px ;
		opacity: 0;
	}
	.bough {
		position: absolute;
		width: 214px ;
		height: 125px ;
		left: 1073px ;
		top: 556px ;
		opacity: 0;
	}
	.eriskinUsyeTitle {
		position: absolute;
		width: 542px ;
		height: 184px ;
		left: 324px ;
		top: 95px ;
	}
	.eriskinUsyeChart, .eriskinAsyeChart, .eriskinIyeChart,
	.cocukUsyeChart, .cocukAsyeChart, .cocukIyeChart {
		left: 329px ;
		top: 282px ;
	}
	.modalChart {
		width: 804px !important;
		height: 612px  !important;
		left: 281px  !important;
		top: 78px  !important;
	}
	.noAnimation {
		width: 1209px  !important;
		padding: 0 !important;
	}
	.noAnimation img {
		margin-top: 50px;
	}
	.chartContainer {
		background-color: #FFFFFF;
		position: absolute;
		width: 462px ;
		height: 349px ;
		-webkit-box-shadow: 0px 0px 7px  rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 7px  rgba(0,0,0,0.3);
		box-shadow: 0px 0px 7px  rgba(0,0,0,0.3);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

	}
	.highcharts-container {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.cocukIyeSecondChart {
		left: 79px !important;
	}
	a.zoom {
		position: absolute;
		width: 63px ;
		height: 63px ;
		background-image: url("../media/images/main/zoom.fw.png");
		z-index: 4;
	}
	.eriskinUsyeZoom, .eriskinAsyeZoom, .eriskinIyeZoom,
	.cocukUsyeZoom, .cocukAsyeZoom, .cocukIyeZoom {
		left: 741px ;
		top: 273px ;
	}
	.pageArrow {
		position: absolute;
		width: 70px ;
		height: 70px ;
		background-size: contain;
	}
	.pageArrow.prev {
		background-image: url("../media/images/main/arrow-prev.fw.png");
		left: 170px ;
		top: 588px ;
	}
	.pageArrow.next {
		background-image: url("../media/images/main/arrow-next.fw.png");
		left: 170px ;
		top: 588px ;
	}
	.eriskinUsyeTitle-2 {
		position: absolute;
		width: 664px ;
		height: 176px ;
		left: 329px ;
		top: 96px ;
	}
	.bgEriskinAsye {
		position: absolute;
		width: 768px ;
		height: 383px ;
		left: 518px ;
		top: 273px ;
	}
	.eriskinAsyeTitle {
		position: absolute;
		width: 719px ;
		height: 184px ;
		top: 98px ;
		left: 321px ;
	}
	.bgEriskinIye {
		position: absolute;
		width: 757px ;
		height: 615px ;
		left: 349px ;
		top: 80px ;
	}
	.eriskinIyeTitle {
		position: absolute;
		width: 716px ;
		height: 187px ;
		top: 95px ;
		left: 324px ;
	}
	
	/* çocuk */
	.cocukBody {
		position: absolute;
		width: 275px ;
		height: 651px ;
		left: 694px ;
		top: 38px ;
	}
	.cocukBodyTopInfo {
		width: 195px ;
		height: 162px ;
		left: 844px ;
		top: 147px ;
	}
		.cocukBodyTopInfo img {
			top: 0;
		}
	.cocukBodyMiddleInfo {
		width: 195px ;
		height: 162px ;
		left: 622px ;
		top: 344px ;
	}
		.cocukBodyMiddleInfo img {
			top: 0;
			right: 0;
		}
	.cocukBodyBottomInfo {
		width: 175px ;
		height: 162px ;
		left: 845px ;
		top: 477px ;
	}
		.cocukBodyBottomInfo img {
		}
	.cocukMainData {
		position: absolute;
		width: 470px ;
		height: 484px ;
		left: 239px ;
		top: 109px ;
	}
	.cocukUsyeTitle {
		position: absolute;
		width: 719px ;
		height: 178px ;
		left: 321px ;
		top: 98px ;
	}
	.bgCocukUsye {
		position: absolute;
		width: 877px ;
		height: 517px ;
		left: 410px ;
		top: 171px ;
	}
	.cocukAsyeTitle {
		position: absolute;
		width: 719px ;
		height: 178px ;
		left: 321px ;
		top: 98px ;
	}
	.bgCocukAsye {
		position: relative;
		width: 849px ;
		height: 608px ;
		left: 413px ;
		top: 80px ;
	}
	.cocukIyeTitle {
		position: absolute;
		width: 716px ;
		height: 181px ;
		left: 324px ;
		top: 95px ;
	}
	.cocukIyeTitle-2 {
		position: absolute;
		width: 716px ;
		height: 181px ;
		left: 324px ;
		top: 95px ;
	}
	.bgCocukIye {
		position: absolute;
		width: 898px ;
		height: 609px ;
		left: 389px ;
		top: 79px ;
	}
	.cocukIyeChartFirst {
		position: absolute;
		bottom: 7px ;
		
	}
	.cocukIyeChartLineFirst {
		position: absolute;
		bottom: 7px ;
		overflow: hidden;
		width: 0;
	}
		.cocukIyeChartLineFirst img {
			width: auto;
		}
	
	/* dt formu */
	.bgDtFormu1 {
		position: absolute;
		width: 517px ;
		height: 437px ;
		left: 768px ;
		top: 250px ;
	}
		.bgDtFormu1 img {
			width: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			margin: auto;
		}
	.bgDtFormu2{
		position: absolute;
		width: 260px ;
		height: 186px ;
		left: 1028px ;
		top: 223px ;
	}
		.bgDtFormu2 img {
			width: 0;
			position: absolute;
			right: 0;
			margin: auto;
		}
	.dtFormuTitle {
		position: absolute;
		width: 506px ;
		height: 152px ;
		left: 324px ;
		top: 98px ;
	}
	.redLine {
		position: absolute;
		width: 580px ;
		height: 67px ;
		left: 184px ;
		top: 563px ;
	}
	.dtSuyla {
		position: absolute;
		width: 152px ;
		height: 322px ;
		left: 323px ;
		top: 280px ;
	}
	.dtSuda {
		position: absolute;
		width: 152px ;
		height: 322px ;
		left: 472px ;
		top: 280px ;
	}
	.dtTablet {
		position: absolute;
		width: 255px ;
		height: 174px ;
		left: 623px ;
		top: 420px ;
	}
	.redLine, .dtSuyla, .dtSuda, .dtTablet, .dtFormuTitle {opacity: 0;}
	.bgKub {
		position: relative;
		width: 786px ;
		height: 608px ;
		left: 356px ;
		top: 80px ;
	}
	.kubTitle {
		position: absolute;
		width: 347px ;
		height: 79px ;
		left: 324px ;
		top: 96px ;
	}
	.kubTablet {
		position: absolute;
		width: 326px ;
		height: 241px ;
		left: 934px;
		top: 192px;
	}
	.kubData {
		position: absolute;
		width: 926px;
		height: 490px;
		left: 324px;
		top: 200px;
	}
	.kubTitle, .kubTablet, .kubData {opacity: 0;}
	.bgPozoloji {
		position: absolute;
		width: 811px ;
		height: 608px ;
		left: 475px ;
		top: 80px ;
	}
	.pozolojiTitle {
		position: absolute;
		width: 230px ;
		height: 77px ;
		left: 324px ;
		top: 98px ;
	}
	.eriskinImg {
		position: absolute;
		width: 369px ;
		height: 278px ;
		left: 366px ;
		top: 228px ;
	}
	.cocukImg {
		position: absolute;
		width: 404px ;
		height: 306px ;
		left: 748px ;
		top: 214px ;
	}
	.eriskinText {
		position: absolute;
		width: 346px ;
		height: 112px ;
		left: 366px ;
		top: 444px ;
	}
	.cocukText {
		position: absolute;
		width: 346px ;
		height: 112px ;
		left: 807px ;
		top: 444px ;
	}
	.pozolojiFirst, .pozolojiSecond,
	.hUyumuFirst, .hUyumuSecond {
		width: 1366px  !important;
		height: 768px !important;
		background-color: rgba(87,73,69, 0);
		left: 0 !important;
		top: 0 !important;
	}

	.pozolojiTitle, .eriskinImg, .eriskinText, .cocukImg, .cocukText,
	.hastaUyumuTitle, .gtdImg, .ctImg, .gtdText, .ctText {opacity: 0;}
	.hastaUyumuTitle {
		position: absolute;
		width: 378px ;
		height: 77px ;
		left: 324px ;
		top: 98px ;
	}
	.gtdImg {
		position: absolute;
		width: 337px ;
		height: 425px ;
		left: 324px ;
		top: 216px ;
	}
	.ctImg {
		position: absolute;
		width: 337px ;
		height: 425px ;
		left: 707px ;
		top: 216px ;
	}
	.gtdText {
		position: absolute;
		width: 319px ;
		height: 56px ;
		left: 351px ;
		top: 206px ;
	}
	.ctText {
		position: absolute;
		width: 319px ;
		height: 56px ;
		left: 740px ;
		top: 208px ;
	}
	.videoTitle {
		position: absolute;
		width: 172px ;
		height: 77px ;
		left: 324px ;
		top: 98px ;
	}
	.videoCover {
		position: absolute;
		width: 938px ;
		height: 492px ;
		left: 324px ;
		top: 174px ;
		text-align:center; margin:20px auto;
	}

	.vjs-default-skin { color: #C52C26; background-color:transparent;margin:0px auto; }
	.vjs-default-skin .vjs-play-progress,
	.vjs-default-skin .vjs-volume-level { background-color: #ffffff }
	.vjs-default-skin .vjs-control-bar { background: rgba(0,0,0,.3); }
	.vjs-default-skin .vjs-big-play-button { background: rgba(0,0,0,.3); left: 5%; top: 74%; }
	.vjs-default-skin .vjs-slider { background: rgba(0,0,0,0.3) }
	.vjs-default-skin .vjs-control-bar { font-size: 110% }
	
	.bgGuvenlilik {
		position: absolute;
		width: 786px ;
		height: 608px ;
		left: 356px ;
		top: 80px ;
	}
	.guvenlilikTitle {
		position: absolute;
		width: 283px ;
		height: 77px ;
		left: 324px ;
		top: 98px ;
	}
	.guvenlilikData {
		position: absolute;
		width: 944px ;
		height: 430px ;
		left: 324px ;
		top: 196px ;
	}
	
	.referans.in {
		position: absolute;
		width: 1366px ;
		height: 768px ;
		left: 0;
		top: 0;
		background-image: url("../media/images/referanslar/bg.fw.png");
		z-index: 100;
	}
	.referans .content {
		position: relative;
		margin: 270px  0 0 181px ;
		width: 996px ;
		font-family: Arial, Tahoma, Verdana, sans-serif;
		font-size: 21px ;
		line-height: 28px ;
	}
